body {
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'OpenSans';
}

h1 {
  margin: 0;
  line-height: 1.5;
  font-size: 32px;
  font-family: 'Nunito';
}

h2 {
  margin: 0;
  line-height: 1.5;
  font-size: 24px;
  font-family: 'Nunito';
}

p {
  margin: 0;
  line-height: 1.5;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #333;
}

.main-container {
  padding-top: 70px;
  padding-bottom: 150px;
  padding-right: 50px;
  padding-left: 50px;
}

@media (min-width: 780px) {
  .main-container {
    padding-top: 50px;
    padding-left: max(20vw, 100px);
  }
}

.main-block {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.description {
  max-width: 450px;
  margin-top: 30px;
}

.description p {
  font-size: 18px;
}

.row {
  display: flex;
  align-items: center;
}

.greeting-hand {
  width: 32px;
  height: 32px;
  margin-left: 15px;
  display: inline-block;
}

.greeting-animation {
  animation: shake ease-in-out;
  animation-duration: 1s;
  animation-delay: 0.3s;
}

@keyframes shake {
  10%,
  90% {
    transform: translateX(-1px) rotate(-5deg);
  }

  20%,
  80% {
    transform: translateX(2px) rotate(10deg);
  }

  30%,
  50%,
  70% {
    transform: translateX(-4px) rotate(-15deg);
  }

  40%,
  60% {
    transform: translateX(4px) rotate(15deg);
  }
}

.heart {
  width: 18px;
  height: 18px;
  margin-left: 5px;
}

.language-link {
  position: absolute;
  top: -30px;
  right: 0;
  opacity: 0.75;
}

@media (min-width: 780px) {
  .language-link {
    top: 0;
  }
}

.language-link::before {
  transition: 300ms;
  height: 1px;
  content: '';
  position: absolute;
  background-color: #333;
  width: 0%;
  top: 21px;
}

.language-link:hover {
  opacity: 1;
}

.language-link:hover::before {
  width: 100%;
}

.text {
  margin-top: 30px;
  max-width: 450px;
}

.subtitle {
  margin-top: 50px;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-row {
  margin-top: 25px;
  display: flex;
  align-items: center;
}

.contact-logo {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.contact-text {
  position: relative;
  transition: 300ms;
  opacity: 0.75;
}

.contact-text::before {
  transition: 300ms;
  height: 1px;
  content: '';
  position: absolute;
  background-color: #333;
  width: 0%;
  top: 21px;
}

.contact-row:hover .contact-text {
  opacity: 1;
}

.contact-row:hover .contact-text::before {
  width: 100%;
}
